*{
    margin: 0px;
    padding: 0px;
}

/*头部样式开始*/
.header{
    width: 100%;
    height: 105px;
    background: #009FB3;
}
.header-nav-box{
    width: 940px;
    height: 105px;
    margin: 0 auto;
    /* border: 1px solid palegoldenrod;*/
}
.header-nav-left{
    width: 400px;
    height: 105px;
      /*border: 1px solid pink;*/
    box-sizing: border-box;
    float: left;
    /*text-align: center;*/
    padding-top: 30px;
}
.header-nav-right{
    width: 540px;
    height: 105px;
   /*  border: 1px solid pink;*/
    box-sizing: border-box;
    float: left;
}
.header-nav-font{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*background: pink;*/
   /* border: 1px solid palegoldenrod;*/
    font-size: 16px;
    margin-top: 32.5px;
    float: left;
    color: white;
    transition: all 0.5s;
    /*margin-left: 10px;*/

}
.header-nav-font:hover{
    background: orange;

    cursor: pointer;
}
.active{
    background: orange;
}
.active1{
    width: 115px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*background: pink;*/
    /* border: 1px solid palegoldenrod;*/
    margin-top: 32.5px;
    float: left;
    color: #EAF7EE;
}
.active2{
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*background: pink;*/
    /* border: 1px solid palegoldenrod;*/
    margin-top: 32.5px;
    float: left;
    color: #EAF7EE;
}
/*头部样式结束*/


.container{
    width: 960px;
    height: 800px;
    margin: 0 auto;
   /* border: 1px solid pink;*/
    margin-top: 70px;
}
.container-left{
    width: 470px;
    height: 800px;
    /*border: 1px solid black;*/
    float: left;
    box-sizing: border-box;
}

.left-one{
  /*  border: 1px solid black;*/
    color: #009FB3;
    font-size: 20px;
    margin-bottom: 35px;
}
.left-two{
    width: 370px;
    height: 85px;
    border-bottom: 1px solid #D7D7D7;
}
.two-div{
    width: 60px;
    height: 55px;
    background-color: #FD9220;
    float: left;
    margin-right: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
}
.two-font{
    font-size: 14px;
    color: #626262;
}
.two-font span{
    color: #A1A1A1;
}

.left-three{
    width: 370px;
    height: 85px;
    border-bottom: 1px solid #D7D7D7;
    margin-top: 30px;
}
.three-div{
    width: 60px;
    height: 55px;
    background-color: #FD9220;
    float: left;
    margin-right: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
}
.three-font{
    font-size: 14px;
    color: #626262;
}
.three-font span{
    color: #A1A1A1;
}

.left-four{
    width: 370px;
    height: 85px;
   /* border: 1px solid #D7D7D7;*/
    margin-top: 30px;
}
.four-div{
    width: 60px;
    height: 55px;
    background-color: #FD9220;
    float: left;
    margin-right: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
}
.four-font{
    font-size: 14px;
    color: #626262;
}
.four-font span{
    color: #A1A1A1;
}

.left-five{
    height: 80px;
   /* border: 1px solid black;*/
    color: #009FB3;
    font-size: 20px;
    line-height: 80px;
}

.left-six{
    width: 370px;
    height: 250px;
   /* border: 1px solid deeppink;*/
}
.six-01{
     height: 30px;
 }
.six-01-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line01{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box01{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-01-font{
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.six-02{
    height: 30px;
}
.six-02-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line02{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box02{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-02-font{
    float: left;
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.six-03{
    height: 30px;
}
.six-03-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line03{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box03{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-03-font{
    float: left;
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.six-04{
    height: 30px;
}
.six-04-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line04{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box04{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-04-font{
    float: left;
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.six-05{
    height: 30px;
}
.six-05-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line05{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box05{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-05-font{
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.six-06{
    height: 30px;
}
.six-06-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line06{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box06{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-06-font{
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.six-07{
    height: 30px;
}
.six-07-box{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #009FB3;
    margin-right: 15px;
    position: relative;
}
.line07{
    width: 10px;
    height: 1px;
    background-color: #B5E3E9;
    position: absolute;
    top: 10px;
    left: 5px;
}
.box07{
    width: 5px;
    height: 5px;
    border: 1px solid #B5E3E9;
    transform: rotate(45deg);
    position: absolute;
    top: 7.5px;
    left: 8.5px;
    border-left: none;
    border-bottom: none;
}
.six-07-font{
    font-size: 14px;
    text-decoration: underline;
    color: #626262;
}

.container-right{
    width: 490px;
    height: 800px;
   /* border: 1px solid black;*/
    float: left;
    box-sizing: border-box;
    position: relative;
}
.right-title{
    width: 220px;
    /*height: 20px;*/
    margin: 0 auto;
   /* border: 1px solid pink;*/
    text-align: center;
    color: #009FB3;
    font-size: 20px;
    margin-bottom: 35px;
}
.right-line01{
    width: 130px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 6px;
    left: 5px;
}
.right-line02{
    width: 130px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 19px;
    left: 5px;
}
.right-line03{
    width: 130px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 6px;
    left: 352px;
}
.right-line04{
    width: 130px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 19px;
    left: 352px;
}

.font-one{
    width: 480px;
    height: 85px;
    margin: 0 auto;
   /* border: 1px solid black;*/
    box-sizing: border-box;
    color: #626262;
    font-size: 13.5px;
}
.font-two{
    width: 480px;
    height: 95px;
    margin: 0 auto;
   /* border: 1px solid black;*/
    box-sizing: border-box;
    color: #A1A1A1;
    font-size: 13px;
}
.font-three{
    width: 100px;
    height: 30px;
    margin-left: 5px;
   /* border: 1px solid black;*/
    font-size: 16px;
    font-weight: bold;
    color: #FD9220;
    line-height: 30px;
}
.right-line05{
    width: 90px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 304px;
    left: 5px;
}
.right-line06{
    width: 90px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 317px;
    left: 5px;
}
.right-line07{
    width: 90px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 304px;
    left: 390px;
}
.right-line08{
    width: 90px;
    border: 1px solid #D1D1D1;
    position: absolute;
    top: 317px;
    left: 390px;
}
.right-center-title{
    width: 220px;
    height: 27px;
    margin: 0 auto;
   /*  border: 1px solid pink;*/
    text-align: center;
    color: #009FB3;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 23px;
}
.img-box{
    width: 480px;
    height: 200px;
    margin: 0 auto;
   /* border: 1px solid black;*/
}
.box-01{
    width: 143px;
    height: 200px;
  /*  border: 1px solid red;*/
    box-sizing: border-box;
    margin-right: 25px;
    float: left;
}
.img01{
    width: 143px;
    height: 126px;
   /* border: 1px solid palevioletred;*/
    box-sizing: border-box;
    float: left;
}
.box-02{
    width: 143px;
    height: 200px;
   /* border: 1px solid red;*/
    box-sizing: border-box;
    margin-right: 25px;
    float: left;
}
.img02{
    width: 143px;
    height: 126px;
   /* border: 1px solid palevioletred;*/
    box-sizing: border-box;
    float: left;
}
.box-03{
    width: 143px;
    height: 200px;
   /* border: 1px solid red;*/
    box-sizing: border-box;
    float: left;
}
.img03{
    width: 143px;
    height: 126px;
   /* border: 1px solid palevioletred;*/
    box-sizing: border-box;
    float: left;
}
.active3{
    margin-top: 20px;
}



/*底部部分开始*/
.footer{
    width: 100%;
    height: 80px;
    background: #009FB3;
}
.footer-box{
    width: 940px;
    height: 80px;
    margin: 0 auto;
    /*  border: 1px solid palegoldenrod;*/
}
.footer-box-left{
    width: 540px;
    height: 80px;
    box-sizing: border-box;
    float: left;
    /* border: 1px solid pink;*/
    line-height: 80px;
    color: #C9D7D0;
    font-size: 12px;
    /* padding-left:100px ;*/
}
.footer-box-right{
    width: 400px;
    height: 80px;
    box-sizing: border-box;
    float: left;
    /* border: 1px solid pink;*/
    line-height: 80px;
    text-align: right;
}
.foot-right{
    /* margin-left: 350px;*/
    float: right;
}
.one{
    float: left;
    margin-left: 8px;
    /* border: 1px solid red;*/
    height: 80px;
}
.footer-font:hover{
    color: orange;
    cursor: pointer;
    transition: all 0.5s;
}
/*底部部分结束*/